/* HELLO ! www.nabilk.com single page style 2019.11.24 */


// variables

$bodytype: 'Times New Roman Seven';
$basesize: 22px;
$cw: 475px;
$ch: 275px;
// colors

$bodycolor: #000;
$c: cyan;
$m: magenta;
$y: yellow;
$k: gray;

// breakpoints

$medium: 640px;
$big: 768px;




// typography

body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
}

body p{  
    font-family: $bodytype, 'Times New Roman', serif;
    font-style: normal;
    font-size: $basesize;
    line-height: 1.9rem;
    font-feature-settings:'kern', 'onum', 'liga';
  }

// links

#blurb span, a {
  color: $bodycolor;
  transition: color 350ms;
}

#blurb span.writes:hover,
.writes a:hover {
  color: $c;
}

#blurb span.talks:hover,
.talks a:hover {
  color: $m;
}

#blurb span.teaches:hover,
.teaches a:hover {
  color: $y;
}

#blurb span.codes:hover,
.codes a:hover {
  color: $k;
}


// layout
.section {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    flex-wrap: wrap;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0 2em;

  }

.section:first-of-type {
    min-height: 550px;
    flex-flow: row;

    @media screen and (min-width: $medium) {
      min-height: unset;

    }
}

// blurb container
#blurb {
    border: 2.5px solid $bodycolor;
    display: block;
    margin-top: 10em;

    width: $cw;
    min-width: $cw;
    min-height: $ch;
    height: $ch;

    text-align: justify;
    transform: rotate(90deg);
    transition: transform 500ms ease-in;

    p {
      padding: 1.25em;
      font-size: 1.25 * $basesize;
      line-height: 2rem;
    }

    span {
        text-decoration: underline;
        cursor: pointer;
    }

    @media screen and (min-width: $medium) {
      margin-top: 5em;
      margin-bottom: 2em;
      transform: unset;

    }

}

// cards

.year {
    margin: 0;

    display: none;
    font-weight: bold;
    @media screen and (min-width: $medium){
      margin-left: -3.5em;
      margin-bottom: -2.34em;
    }
}

div.card {
    max-width: $cw;
    display: none;
    opacity: 0;
  transition: opacity 500ms;
}

.year.show, .card.show {
  display: block;
}

// scroll to top arrow
#scrolltotop {
  display: block;
  position: fixed;
  background-color: rgba(255,255,255,.8);
  top: 85vh;
  right: 0;

  height: 2em;
  width: 2em;
  padding: .5em;
  cursor: pointer;

  text-align: center;
  font-size: $basesize * 2;

  opacity: 0;
  transition: opacity 500ms;
}

#scrolltotop.show {
  opacity: 1;
}

