/* HELLO ! www.nabilk.com single page style 2019.11.24 */


// variables

$bodytype: 'Times New Roman Seven';
$basesize: 22px;
$cw: 475px;
$ch: 275px;
// colors

$bodycolor: #000;
$c: cyan;
$m: magenta;
$y: yellow;
$k: gray;

// breakpoints

$medium: 640px;
$big: 768px;

html { background-color: $c; }
body { background-color: #fff; }

// typography

body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;

  overflow-x: hidden !important;
  
}

body p{  
    font-family: $bodytype, 'Times New Roman', serif;
    font-style: normal;
    font-size: $basesize;
    line-height: 1.9rem;
    font-feature-settings:'kern', 'onum', 'liga';
  }

// links

#blurb span, a {
  color: $bodycolor;
  transition: color 350ms;
}

#blurb span.writes:hover,
.writes a:hover {
  color: $c;
}

#blurb span.talks:hover,
.talks a:hover {
  color: $m;
}

#blurb span.teaches:hover,
.teaches a:hover {
  color: $y;
}

#blurb span.codes:hover,
.codes a:hover {
  color: $k;
}


// layout
.container {

    display: flex;
    align-content: center;
    flex-flow: column;
    flex-wrap: wrap;
    z-index: 7;
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
  }

// blurb container
$b: 5px solid black;

#blurb {
  z-index: 9;
  background-color: rgba(0,0,0,0);
  width: $cw;
  min-width: $cw;
  min-height: $ch;
  height: $ch;
  margin-top: 10em;
  margin-bottom: 8em;

  border-top: $b;
  border-right: $b;
  border-left: $b;
}

#blurb, svg {
    display: block;

    text-align: justify;
    transform: rotate(90deg);
    transition: transform 500ms ease-in;

    p {
      padding: 1.25em;
      font-size: 1.25 * $basesize;
      line-height: 2rem;
    }

    span {
        text-decoration: underline;
        cursor: pointer;
    }

    @media screen and (min-width: $medium) {
      margin-top: 5em;
      margin-bottom: 2em;
      transform: unset;

    }

}

// cards
.row {
  margin: 1.25em;
}
.year {
    margin: 0;

    // display: none;
    font-weight: bold;
    display: block;
    opacity: 1;
    @media screen and (min-width: $medium){
      margin-left: -3.5em;
      margin-bottom: -2.34em;
    }
}

div.card {
  max-width: $cw;
  // display: none;
  // opacity: 0;
  display: block;
  opacity: 1;

  transition: opacity 500ms;
  z-index: 9;
}

.year.show, .card.show {
  display: block;
}

// scroll to top arrow
#scrolltotop {
  display: block;
  position: fixed;
  background-color: rgba(255,255,255,.8);
  top: 85vh;
  right: 0;

  height: 2em;
  width: 2em;
  padding: .5em;
  cursor: pointer;

  text-align: center;
  font-size: $basesize * 2;

  opacity: 0;
  transition: opacity 500ms;
}

#scrolltotop.show {
  opacity: 1;
}

// doodad
svg {
  position: absolute;
  // top: 93.5px;
  // left: auto;
  z-index: -1;

  width: $cw;
  min-width: $cw;
  min-height: 1.5 * $ch;
  height: 1.5 * $ch;

  margin-top: 0;

  path {
    fill: transparent;
    mix-blend-mode: darken;
    stroke-width: 5px;
    padding: 0;
  }

  path#cyan { stroke: darken($c,5%); }
  path#magenta { stroke: darken($m,5%); }
  path#yellow { stroke: $y; }

  @media screen and (min-width: $medium) {
    margin-top: 0;
    top: 14px;
  }
}